// Here you can add other styles
.fs-16px {
    font-size: 16px !important;
}
.fs-18px {
    font-size: 18px !important;
}

.fs-14px {
    font-size: 14px !important;
}

.fs-10px {
    font-size: 10px !important;
}

.fs-12px {
    font-size: 12px !important;
}

.ml-8px {
    margin-left: 8px;
}

.m-3rem {
    margin: 3rem !important;
}

.m-0 {
    margin: 0;
}

.hr-color {
    color: #ff0000;
    font-weight: 600;
}

.margin-1-12rem {
    margin: 1rem 12rem;
}

.ml-28px {
    margin-left: 28px !important;
}

.ml-24px {
    margin-left: 24px !important;
}

.ml-10px {
    margin-left: 10px !important;
}

.ml-6px {
    margin-left: 6px !important;
}
.mt-5px {
    margin-top: 5px !important;
}
.mt-8px {
    margin-top: 8px;
}
.mt-9px {
    margin-top: 9px;
}
.p-10-0 {
    padding: 10px 0 !important;
}
.pt-0px {
    padding-top: 0 !important;
}
.p-6px{
    padding: 6px !important;
}
.p-9-5 {
    padding: 9px 5px !important;
}
.w-28 {
    width: 28% !important;
}
.checkbox input {
    border: 1px solid #000;
}
.box {
    border: 2px solid #000;
    border-radius: 12px;
}

.box-2 {
    border: 1px solid #000;
    border-radius: 4px;
}

.box-3 {
    border: 1px solid #000;
}
.border-top-left-radius-30px{
    border-top-left-radius: 30px !important;
}
.border-top-right-radius-30px{
    border-top-right-radius: 30px !important;
}
.border-bottom-left-radius-30px{
    border-bottom-left-radius: 30px !important;
}
.border-bottom-right-radius-30px{
    border-bottom-right-radius: 30px !important;
}
.p-14px {
    padding: 14px !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pt-6px {
    padding-top: 6px !important;
}

.mt-1 {
    margin-top: 1px !important;
}
.mt-12px {
    margin-top: 12px !important;
}
.text-bold {
    font-weight: 600;
}

.ml-5 {
    margin-left: 5px;
}

.mt-1rem {
    margin-top: 1rem !important;
}

.mt-10rem {
    margin-top: 10rem !important;
}

.mb-1rem {
    margin-bottom: 1rem !important;
}
.h-100{
    height: 100% !important;
}
.w-70 {
    width: 70% !important;
}

.boarder-left-2px-solid-red {
    border-left: 2px solid red;
}

.boarder-right-2px-solid-red {
    border-right: 2px solid red;
}

.c-red {
    color: #ff0000 !important;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.text-decoration-none {
    text-decoration: none !important;
}

.c-black {
    color: #000 !important;
}

.ml-2rem {
    margin-left: 2rem !important;
}

.mt-10px {
    margin-top: 10px !important;
}

.locked {
    pointer-events: none; /* Prevent clicking */
    background-color: #656565; /* Change this color to indicate locked seats */
    color: white; /* Optional: change text color for locked seat */
}

/* custom styles */
.a li:first-child::marker {
    color: #3278ca;
}

.a li:nth-child(2)::marker {
    color: #ff8839;
}

.a li:nth-child(3)::marker {
    color: #3fb8b9;
}

.curson-context-menu {
    cursor: context-menu;
}

.seat-2.selected {
    background-color: #939393; /* Change this color to whatever you prefer */
    color: white; /* Optional: change text color for selected seat */
}

.seat.selected {
    background-color: #939393; /* Change this color to whatever you prefer */
    color: white; /* Optional: change text color for selected seat */
}
.text-decoration-none {
    text-decoration: none !important;
}
.text-white {
    color: #fff !important;
}
.table > tbody {
    text-align: center !important;
}
.display-ruby-text {
    display: ruby-text;
}
// 

.seating-chart {
    text-align: center !important;
}
.text-align-center {
    text-align: center !important;
}

.seat-2 {
    width: 35px;
    height: 30px;
    margin: 5px;
    line-height: 25px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

.seat {
    width: 30px;
    height: 27px;
    margin: 5px;
    line-height: 25px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

.first-class {
    background-color: #3278ca;
}

.business-class {
    background-color: #ff8839;
    /* Bootstrap warning color */
}

.economy-class {
    background-color: #3fb8b9;
    /* Bootstrap info color */
}

.first-class1 {
    background-color: #000000;
}

.business-class1 {
    background-color: #ccbc1e;
    /* Bootstrap warning color */
}

.economy-class1 {
    background-color: #accfcf;
    /* Bootstrap info color */
}

.restroom {
    width: 100px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    background-color: #6c757d;
    /* Bootstrap secondary color */
    color: white;
    border-radius: 5px;
}

.--cui-gutter-x {
    --cui-gutter-x: 0rem !important;
}


////////////////////////////////////////////////////
// .seating-chart {
//     text-align: center;
// }

// .section {
//     margin-bottom: 20px;
// }

// .seat {
//     width: 50px;
//     height: 50px;
//     margin: 5px;
//     line-height: 50px;
//     color: white;
//     font-size: 16px;
//     border-radius: 5px;
//     display: inline-block;
// }

// .first-class {
//     background-color: #007bff;
//     /* Bootstrap primary color */
// }

// .business-class {
//     background-color: #ffc107;
//     /* Bootstrap warning color */
// }

// .economy-class {
//     background-color: #17a2b8;
//     /* Bootstrap info color */
// }