// Here you can add other styles
.color-red {
    color: red !important;
}
.admin_sidebar_header {
    display: inline-block !important;
    width: 92% !important;
    font-size: 23px !important;
    text-align: center !important;
}
.mt-47px {
    margin-top: 47px !important;
}